<ion-view title="HomeSick Chat">
  <ion-content padding="false" scroll="false" class="has-header">
    <div class="spacer" style="width: 300px; height: 15.9922px;"></div>
    <ion-scroll scroll-glue="" class="top-esacosa">
      <ion-list ng-repeat="item in messages">
        <ion-item class="item-avatar" ng-show="usuariochat == item.de">
          <img src="{{item.foto}}">
          <h2>{{item.name}}</h2>
          <p>{{item.text}}</p>
        </ion-item>
        <ion-item ng-show="datos.usuario == item.de" class="sepalabola">{{item.text}}</ion-item>
      </ion-list>
    </ion-scroll>
    <form class="list bottom-form" ng-submit="addMessage()">
      <label class="item item-input">
        <span class="input-label">Message</span>
        <input type="text" placeholder="" ng-model="data.message">
      </label>
      <button class="button button-positive button-block">Submit</button>
    </form>
  </ion-content>
</ion-view>