<ion-view title="Homesick" id="page14">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <div>
      <img src="{{datos.bandera}}" style="display: block; width: 65px; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <ion-list id="homesick9-list9">
      <ion-item id="homesick9-list-item39">{{datos.direccionembajada}}</ion-item>
    </ion-list>
    <div class="list card" id="homesick9-card21">
      <div class=" item item-image">
        <img src="{{datos.fotoembajada}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-icon-left dark" id="homesick9-list-item40" href-inappbrowser="{{datos.correoembajada}}">
        <i class="icon ion-ios-telephone-outline"></i>{{datos.telefonoembajada}}</ion-item>
    </div>
    <a href="tel:{{datos.telefonoembahada}}" id="homesick9-button17" class="button button-balanced button-block mt-minus-10">Call Embassy</a>
    <div class="spacer" style="width: 300px; height: 19px;"></div>
  </ion-content>
</ion-view>