<ion-view title="Homesick" hide-back-button="true" id="page11" style="background-color:#181E25;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <h2 id="homesick4-heading1" style="color:#FFFFFF;text-align:center;" class="heading-nation">Select your Nation</h2>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="homesick4-container1" class="nation-sections">
      <ion-list id="homesick4-list10">
        <ion-item class="item-avatar" id="homesick4-list-item15" ui-sref="homesick5()">
          <img src="img/Ka42oQcnR9KVrApifQVa_mexico.svg">
          <h2>MEXICO</h2>
          <p>Select this as my nation</p>
        </ion-item>
        <ion-item class="item-avatar mt-10" id="homesick4-list-item35" ui-sref="homesick5()">
          <img src="img/xqBIntskSwCMv8Rf25qb_france.svg">
          <h2>FRANCIA</h2>
          <p>Select this as my nation</p>
        </ion-item>
        <ion-item class="item-avatar mt-10" id="homesick4-list-item16" ui-sref="homesick5()">
          <img src="img/iydoAIOoT32kmoBfxVnp_venezuela.svg">
          <h2>VENEZUELA</h2>
          <p>Select this as my nation</p>
        </ion-item>
        <ion-item class="item-avatar mt-10" id="homesick4-list-item17" ui-sref="homesick5()">
          <img src="img/3h0M73tKRQy2lsjheTdo_brazil.svg">
          <h2>BRAZIL</h2>
          <p>Select this as my nation</p>
        </ion-item>
        <ion-item class="item-avatar mt-10" id="homesick4-list-item18" ui-sref="homesick5()">
          <img src="img/Wwl0AyLS9GGhDygjxAnP_chile.svg">
          <h2>CHILE</h2>
          <p>Select this as my nation</p>
        </ion-item>
        <ion-item class="item-avatar mt-10" id="homesick4-list-item19" ui-sref="homesick5()">
          <img src="img/wPMHo9bR22bzu6TivmOx_argentina.svg">
          <h2>ARGENTINA</h2>
          <p>Select this as my nation</p>
        </ion-item>
        <ion-item class="item-avatar mt-10" id="homesick4-list-item20" ui-sref="homesick5()">
          <img src="img/hTAJATXKQRGcmTJbJamX_canada.svg">
          <h2>CANADA</h2>
          <p>Select this as my nation</p>
        </ion-item>
        <ion-item class="item-avatar mt-10" id="homesick4-list-item21" ui-sref="homesick5()">
          <img src="img/xzdXkenUTyugaRBoh5Q3_colombia.svg">
          <h2>COLOMBIA</h2>
          <p>Select this as my nation</p>
        </ion-item>
        <ion-item class="item-avatar mt-10" id="homesick4-list-item22" ui-sref="homesick5()">
          <img src="img/gJTchU2LSsKshRvsVw0F_cuba.svg">
          <h2>CUBA</h2>
          <p>Select this as my nation</p>
        </ion-item>
        <ion-item class="item-avatar mt-10" id="homesick4-list-item23">
          <img src="img/OpRqh2QbTV656msS9ZSK_england.svg">
          <h2>ENGLAND</h2>
          <p>Select this as my nation</p>
        </ion-item>
        <ion-item class="item-avatar mt-10" id="homesick4-list-item24" ui-sref="homesick5()">
          <img src="img/wOsvMnSVKboSvjKAeqGg_european-union.svg">
          <h2>UNITED KINGDOM</h2>
          <p>Select this as my nation</p>
        </ion-item>
        <ion-item class="item-avatar mt-10" id="homesick4-list-item25" ui-sref="homesick5()">
          <img src="img/teUxXF4XRASf4eCNkuGV_spain.svg">
          <h2>SPAIN</h2>
          <p>Select this as my nation</p>
        </ion-item>
        <ion-item class="item-avatar mt-10" id="homesick4-list-item9" ui-sref="homesick5()">
          <img src="img/hUUPYPMOTziRmoXOUc3r_united-states.svg">
          <h2>UNITED STATES</h2>
          <p>Select this as my nation</p>
        </ion-item>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 24px;"></div>
    </div>
  </ion-content>
</ion-view>