<ion-view title="Homesick">
  <ion-content padding="true" scroll="false">
    <div class="spacer" style="width: 320px; height: 30px;"></div>
    <h2 style="color:#FFFFFF;font-weight:600;text-align:center;" class="mt-10">Food in {{datos.dondeesta}}</h2>
    <div style="text-align:center;" class="show-list-numbers-and-dots mt-minus-10">
      <p style="color:#FFFFFF;font-size:15px;">Very good places</p>
    </div>
    <div class="spacer" style="width: 320px; height: 9px;"></div>
    <ion-scroll class="top-container">
      <ion-list ng-repeat="comida in comidas">
        <ion-item style="background-color:#444;border-color:#000000">
          <div class="event-block mt-10" style="background: url('{{comida.fotocomida}}');">
            <div class="event-desciption">
              <b>{{comida.nombre}}</b>
              <br>
              <b>{{comida.direccion}}</b>
            </div>
          </div>
          <div class="item item-body" style="background-color:#444;border-color:#444">
            <div style="text-align:justify;" class="show-list-numbers-and-dots">
              <p style="margin-top:0px;color:#18c0c7;">{{comida.textocomida}}</p>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-scroll>
  </ion-content>
</ion-view>