<ion-view title="Homesick" id="page3" style="background-color:#181E25;">
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <button class="button button-icon icon ion-ios-contact"></button>
  </ion-nav-buttons>
  <ion-content padding="false" style="background: url(img/7B7Busuario.foto7D7D) no-repeat center;background-size:cover;" scroll="false" class="has-header">
    <div class="profile-head">
      <div class="overlay"></div>
      <div class="status-block">
        <b>Erika Leon</b>
        <br>
        <i class="ion-android-radio-button-on c-green"></i>
        <small>Online Now</small>
      </div>
    </div>
    <div class="footer-img-block">
      <span>
        Erika's current time
        <br>
        <small>Wednesday,
          <b>11:05</b> AM</small>
      </span>
      <a href="tel:+5233136114399">
        <div class="call-profile rounded">
          <i class="ion-ios-telephone"></i>
        </div>
      </a>
    </div>
    <div class="chat-block">

      <div class="chat-bubble-sender">
        <div>
          Edwin Marquez
          <span>6:35pm</span>
        </div>
        Hello, how are you?
      </div>

      <div class="chat-bubble-user">
        <div>
          Erika Leon
          <span>6:43pm</span>
        </div>
        Hi! i'm fine and you?
      </div>

      <div class="chat-bubble-sender">
        <div>
          Edwin Marquez
          <span>6:44pm</span>
        </div>
        Great! I really want to meet you!
      </div>

      <div class="chat-bubble-user">
        <div>
          Erika Leon
          <span>6:48pm</span>
        </div>
        mmmm....ok! why not! but i have to tell you lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat.
      </div>

      <div class="chat-bubble-sender">
        <div>
          Edwin Marquez
          <span>6:50pm</span>
        </div>
        Cool! no problem! 8pm?
      </div>

      <div class="chat-bubble-user">
        <div>
          Erika Leon
          <span>6:56pm</span>
        </div>
        Sure!
      </div>

    </div>
    <div class="chat-writer">
      <input type="text" class="chat-input" placeholder="Type a message...">

      <button class="chat-emoji">
        <i class="ion-android-happy"></i>
      </button>

      <button class="chat-send">
        <i class="ion-android-send"></i>
      </button>

      <button id="btn-auto-scroll" class="btn-auto-scroll" onclick="autoScroll()"></button>

    </div>
  </ion-content>
</ion-view>