<ion-view title="Signup finish" hide-nav-bar="true" id="page7" style="background-color:#181E25;">
  <ion-content padding="true" style="background: url(img/KzDuVsPDQyeNFYwjE27w_draft02-mod-3.gif) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <div>
      <img src="img/AJLeRYrUQeapjWINBD9S_homesick250-2.png" style="display: block; width: 150pt; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="signupFinish-form4" class="list">
      <div class="spacer" style="width: 300px; height: 24px;"></div>
      <div id="signupFinish-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#FFFFFF;font-size:15px;">Account information</p>
      </div>
      <ion-list id="signupFinish-list5">
        <label class="item item-input" id="signupFinish-input19">
          <input type="email" placeholder="Email address">
        </label>
        <label class="item item-input mt-10" id="signupFinish-input20">
          <input type="password" placeholder="Password">
        </label>
      </ion-list>
    </form>
    <a ui-sref="signup()" id="signupFinish-button9" style="font-size:15px;" class="button button-stable button-block">Modify data</a>
    <a ui-sref="homesick4()" id="signupFinish-button7" class="button button-balanced button-block">Sign up</a>
  </ion-content>
</ion-view>